*{
  margin: 0;
  padding: 0;
}
body{
  background: linear-gradient(
          90deg,
          #05070f,
          #1c2541,
          #152236
      );   
}

.container{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  column-gap: 20px;
  
  padding: 50px;
  
  font-size: 2rem;
  color: white;

  & h1{
    padding: 40px;
  }
  & input{
    padding: 10px;
    border-radius: 20px;
  }

  & .options-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    & button {
      padding: 10px;
      margin: 10px;
      font-size: 1.5rem;
      border-radius: 20px;
    }
  }
}