* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(
        90deg,
        #04050a,
        #040814,
        #152236
    );
    background-size: cover;        
    background-repeat: no-repeat;  
    background-position: center;   
    background-attachment: fixed;
    

    font-family: Arial, Helvetica, sans-serif;
}

#login-form {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin-top: 10rem;
    padding: 30px 70px;
    border-radius: 20px 40px;
    
    background: linear-gradient(
        135deg,
        #182753,
        #1c2541,
        #4470b8
    );
    color: white;

    font-size: 1.5rem;
}

#form-title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
}
.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-group label{
    font-weight: 700;
}
.form-group input {
    padding: 5px 10px;
    border-radius: 40px;
    margin: 5px;
    margin-bottom: 10px;
    
    text-align: center;
}
.submit-btn{
    border-radius: 10px;
    padding: 10px 70px;
    font-weight: 700;
}
#redirect{
    margin-top: 25px;
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(141, 143, 219);
}

@media (max-width: 768px) {
    #login-form {
        margin-top: 12rem;
        padding: 30px 50px;
        border-radius: 15px; 

        font-size: 1.2rem;
    }

    #form-title{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 25px;
    }       
    #redirect{
        margin-top: 15px;
        
    }
}

@media (max-width: 480px) {
    #login-form {
        margin-top: 13rem;
        padding: 25px 45px;
        border-radius: 15px; 

        font-size: 1.1rem;
    }

    #form-title{
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 20px;
    }       
    #redirect{
        margin-top: 12px;
        
    }
}